<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Prediction</h1>
    <form action="https://localhost:5000/preview"name="fs"id="fs"method="post" enctype=multipart/form-data>
    <label for ="N">N :</label>
    <input type="text" id="N" name="N" placeholder="N"><br><br>
    <label for ="P">P :</label>
    <input type="text" id="P" name="P" placeholder="P"><br><br>
    <label for ="K">K :</label>
    <input type="text" id="K" name="K" placeholder="K"><br><br>
    <label for ="Temp">Temperature :</label>
    <input type="text" id="Temperature" name="Temperature" placeholder="Temperature"><br><br>
    <label for ="Humidity">Humidity :</label>
    <input type="text" id="Humidity" name="Humidity" placeholder="Humidity"><br><br>
    <label for ="PH">PH</label>
    <input type="text" id="PH" name="PH" placeholder="PH"><br><br>
    <label for ="Rainfall">Rainfall</label>
    <input type="text" id="Rainfall" name="Rainfall" placeholder="Rainfall"><br><br>
    </form>
</body>
</html>